@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    font-family: "Tajawal", sans-serif;
}

:root{
    --background:#0f172a;
    --blue-color:#2563eb;
    --blue-color-hover:#283d6d8e;
    --text-color:#f8fafc;
    --text-color-two:#818181;
    --back:#504c4c;
    --white-color:white;
    --hover:#74C0FC;


    --back-one:#F9FAFB;
}


.add_conatiner{
 background-color:#0f172a;
 width: 100vw;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.add_conatiner .inner_div {
    background-color: #121a2c;
    width: 40rem;
    height: 35rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px rgb(0,0,0,0.2);
}

.add_conatiner .inner_div form {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    z-index: 999;
}

.add_conatiner .inner_div form .title {
 font-size: 1.6rem;
font-weight: 300;
color:#535353;
}
.add_conatiner .inner_div form .link {
    margin-top:1rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add_conatiner .inner_div form .go_home {
 text-decoration: none;
 font-size: 1.6rem;
 font-weight: 300;
 outline: none;
 border: none;
 text-align: end;
 color:var(--blue-color);
}
.add_conatiner .inner_div form .more {
 text-decoration: none;
 font-size: 1.8rem;
 font-weight: 300;
 outline: none;
 border: none;
 text-align: end;
 color:var(--blue-color);
 transform: rotate(90deg);
}

.add_conatiner .inner_div form div {
    margin-top: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_conatiner .inner_div form .last_form {

margin-top: 1.5rem;
color:#535353;
width: 100%;
display: flex;
align-items: center;
justify-content: flex-end;
}

.add_conatiner .inner_div form .last_form span {
    font-size: 1.3rem;
}

.add_conatiner .inner_div form .last_form .add_path {
    margin-right: 0.8rem;
    font-size: 1.3rem;
}

.add_conatiner .inner_div form .last_form .link_path {
  
    font-size: 1.3rem;
    font-weight: 300;
    color:var(--blue-color);
  
}
.add_conatiner .inner_div form div .date {
    direction: rtl;
    color: white;
}
.add_conatiner .inner_div form div .ref {
margin-right: 2rem;
cursor: pointer;
font-size: 1.6rem;
font-weight: 300;
outline: none;
border: none;
text-align: end;
color:#535353;
transition: all 0.3s linear;
}

.add_conatiner .inner_div form div .icons {
margin-left: 2rem;
cursor: pointer;
font-size: 1.6rem;
font-weight: 300;
outline: none;
border: none;
text-align: end;
color:#535353;
transition: all 0.3s linear;
    
}
.add_conatiner .inner_div form div .ref:hover{
    transform: rotate(360deg);
}
.add_conatiner .inner_div form div select {
    width: 65%;
    border: none;
    outline: none;
    padding: 0.6rem 0.5rem;
    direction: rtl;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    background-color: transparent;
    border: 1px solid var(--blue-color-hover);
    cursor: pointer;
    color:#818181;
    font-weight: 600;
    transition: all 0.3s linear;
}

.add_conatiner .inner_div form div select:focus {
    border-color: var(--blue-color);
    transform: scale(1.1);
    background-color: #05215e71;
}
.add_conatiner .inner_div form div select option {
    background-color:hsl(222, 42%, 12%);
    color:white;
    cursor: pointer;
    width: 100%;
}


.add_conatiner .inner_div form div input {
    width: 65%;
    border: none;
    color: white;
    outline: none;
    padding: 0.6rem 0.5rem;
    direction: rtl;
    color: var(--back);
    font-size: 1rem;
    border-radius: 0.4rem;
    background-color: transparent;
    border: 1px solid var(--blue-color-hover);
    transition: all 0.3s linear;
}

.add_conatiner .inner_div form div input:focus {
    border-color: var(--blue-color);
    transform: scale(1.1);
    background-color: #05215e71;
}

.add_conatiner .inner_div form div input::placeholder {
    font-size: 1.2rem;
    color: white;
}

.add_conatiner .inner_div form div .add {
    width: 6rem;
    height: 2.4rem;
    cursor: pointer;
    color: white;
    font-size: 1.3rem;
    border: none;
    background-color: var(--blue-color);
    transition: all 0.3s linear;
}
.add_conatiner .inner_div form div .add:hover {
    background-color: #05215e;
}

.add_conatiner .inner_div form .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 65%;
    margin-inline: auto;
}

.add_conatiner .inner_div form div .delet {
    cursor: pointer;
    color: white;
    width: 6rem;
    height: 2.4rem;
    font-size: 1.3rem;
    border: none;
    background-color: #2563eb;
    transition: all 0.3s linear;

}

.add_conatiner .inner_div form div .delet:hover {
    background-color: #05215e;
}



/* media guerq for add car page  */

@media (max-width:669px) {
    .add_conatiner .inner_div form .link {
        margin-bottom: 0.5rem;
        margin-top: 0.2rem;
    }
    .add_conatiner .inner_div {
        width: 30rem;
        height: 34rem;
        border-radius: 1rem;
  
    }
    .add_conatiner .inner_div form {
        border-radius: 1rem;
    }
    .add_conatiner .inner_div form div {
        margin-top: 1rem;
    }
    .add_conatiner .inner_div form div select {
       
        padding: 0.5rem 0.4rem;
        border: 2px solid var(--blue-color-hover);
      
       
    }
}

@media (max-width:507px) {

  
    .add_conatiner .inner_div form .link {
        margin-bottom: 1rem;
        margin-top: 2;
    }
    .add_conatiner .inner_div form .go_home {
   
        font-size: 1.3rem;
       ;
       }
       .add_conatiner .inner_div form .more {
        font-size: 1.3rem;
        font-weight: 300;
     
       }
    .add_conatiner .inner_div {
        width: 100%;
        height: 100%;
        border-radius: 0;
        background-color:#0f172a;
    }
    .add_conatiner .inner_div form {
        width: 100%;
        height: 100%;
        padding: 1rem;
        border-radius: 0;
    }
    .add_conatiner .inner_div form div {
        margin-top: 1.5rem;
    }
    .add_conatiner .inner_div form div select {
       width: 60%;
        padding: 0.2rem 0.4rem;
        border: 1px solid var(--blue-color-hover);
        border-width: 1px;
        border-radius: 0.3rem;
        font-size: 1.1rem;
        font-weight: 600;
        position: relative;
    }
    .add_conatiner .inner_div form div select option {
        display: block;
        width: 70%;
        font-size: 1rem;
        border: none;
    }

    .add_conatiner .inner_div form div input {
        width: 60%;
        outline: none;
        border-width: 1px;
        padding: 0.3rem 0.8rem;
        border-radius: 0.3rem;
        transition: all 0.3s linear;
        font-size: 1rem;
        color: white;
    }
  
    .add_conatiner .inner_div form div .add {
        width: 5rem;
        height: 2rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .add_conatiner .inner_div form div input::placeholder {
        font-size: 1.1rem;
        font-weight: 400;
    }
    
.add_conatiner .inner_div form div .delet {

    width: 5rem;
    height: 2rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.add_conatiner .inner_div form .button {
    width: 70%;
    margin-top: 3rem;
    text-align: center;
    margin-inline: auto;
}
.add_conatiner .inner_div form div .ref {
    margin-right: 1rem;
    font-size: 1.4rem;

    }
    
    .add_conatiner .inner_div form div .icons {
    margin-left: 1rem;
    font-size: 1.4rem;
    }
    .add_conatiner .inner_div form .last_form {

        margin-top: 3rem;
       
        }
        
        .add_conatiner .inner_div form .last_form span {
            font-size: 1rem;
        }
        
        .add_conatiner .inner_div form .last_form .add_path {
            margin-right: 0.8rem;
            font-size: 1rem;
        }
        
        .add_conatiner .inner_div form .last_form .link_path {
          
            font-size: 1rem;
            font-weight: 300;
            color:var(--blue-color);
          
        }
}

@media (max-width:360px) {
    .add_conatiner .inner_div{
        background-color:#0f172a;
    }
    .add_conatiner .inner_div form .link {
        margin-bottom: 1rem;
        margin-top: 2;
    }
    
.add_conatiner .inner_div form .title {
    font-size: 1rem;
    font-weight: 600;
   }
}