

.add_path_container {
    width: 100vw;
    height: 100vh;
}

.drop_menu {
    position: fixed;
    z-index: 999999;
    top: calc(100% - 2rem);
    width: 100%;
    background-color:#17223d ;
    height:18rem;
    scroll-behavior: smooth;
    border-radius: 0.8rem 0.8rem 0rem 0rem ;
    transition: all 0.5s linear;
}
.drop_menu .icon {
    height: 2rem;
    padding-left: 2rem;
    
}
.drop_menu .icon .up {
   font-size: 1.6rem;
   color: white;
   font-weight: 500;
   padding-top:0.2rem;
   cursor: pointer;
}
.drop_menu .icon .down {
   font-size: 1.7rem;
   color: white;
   font-weight: 500;
   padding-top:0.2rem;
   margin-left: 1rem;
   cursor: pointer;
}
.drop_menu .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 0.6rem 0rem;
}

.drop_menu .title span {
    font-size: 1.5rem;
    display: inline-block;
    width: 50%;
    text-align: center;
    color: white;
    
}
.drop_menu .scroll {
    height: 12rem;
    overflow-y:scroll;
}

.drop_menu .scroll .content {
    padding: 0.6rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
}
.drop_menu .scroll .content span{
    display: inline-block;
    width: 50%;
    background-color: #192b57;
    text-align: center;
    padding: 0.4rem 0rem;
    cursor: pointer;
    color: white;
}

.drop_menu .scroll .content span:hover {
    background-color: #17223dbd;
}


@media (max-width:666px) {
    .drop_menu .title span {
        font-size: 1.3rem;
    
    }
}
@media (max-width:516px) {
    .drop_menu {
        border-radius: 0.4rem 0.4rem 0rem 0rem;
    }
}
@media (max-width:386px) {
    .drop_menu .title span {
        font-size: 1.1rem;
    
    }
    .drop_menu {
        border-radius: 0.4rem 0.4rem 0rem 0rem;
    }
}