

:root{
    --background:#0f172a;
    --blue-color:#2563eb;
    --blue-color-hover:#283d6d8e;
    --text-color:#f8fafc;
    --text-color-two:#818181;
    --back:#333;
    --hover:#74C0FC;
}
.add_button {
    z-index: 99999;
    position: fixed;
    top:6rem;
    left:1rem;
    cursor: pointer;
    background-color: white;
    height: 3.2rem;
    width: 3.2rem;
    color: var(--back);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgb(0,0,0,0.2);
    transition: all 0.3s linear;
}


.add_button .add_line {
    font-size: 1.8rem;
    font-weight: 600;
}

.add_button .menu {
    position: absolute;
    z-index: 9999;
    left:0rem;
    top:0rem;
    width: 12rem;
    height: 8rem;
    padding: 1rem;
    background-color:#121a2c;
    border-radius: 0.5rem;
    transition: all 0.3s linear;
    display: none;
    box-shadow: 1px 1px 2px rgb(0,0,0,0.2);
}



.add_button:hover .menu {
    display: block;
}


.add_button .menu .add_line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: .2rem 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s linear;
    text-decoration: none;
}
.add_button .menu .add_line:hover {
    background-color:#05215e2f ;
}

.add_button .menu .add_line span{
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 0.7rem;
    color:white;
}

.add_button .menu .add_line .icon_path {
    margin-left: 0.3rem;
    font-size: 2rem;
    color:white;
}

.add_button .menu .add_car {
    display: flex;
    transition: all 0.3s linear;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    text-decoration: none;
}

.add_button .menu .add_car:hover {
    background-color:#05215e71 ;
}

.add_button .menu .add_car span {
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 0.7rem;
    color: white;
}

.add_button .menu .add_car .icon_car {
    margin-left: 0.3rem;
    font-size: 1.8rem;
    color:white;
}




@media (max-width:669px) {
    .add_button {
        top:5rem;
    }
}

@media (max-width:467px) {
    .add_button {
        width: 2.6rem;
        height: 2.6rem;
    }
    .add_button .add_line {
        font-size: 1.6rem;
    }
    .add_button .menu {
       
        width: 10rem;
        height: 7rem;
        padding: 1rem;
        border-radius: 0.3rem;
    
    }
    
    
    
    .add_button .menu .add_line {
     
        padding: .1rem 0.4rem;
        border-radius: 0.4rem;
       
    }
 
    
    .add_button .menu .add_line span{
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .add_button .menu .add_line .icon_path {
    
        font-size: 1.7rem;
        
    }
    
    .add_button .menu .add_car {
    
        padding: .1rem 0.4rem;
        border-radius: 0.4rem;
    
    }
    
   
    
    .add_button .menu .add_car span {
        font-size: 1.2rem;
        font-weight: 500;
    
    }
    
    .add_button .menu .add_car .icon_car {
     
        font-size: 1.5rem;
    
    }
    
    
}





@media (max-width:360px) {
    .add_button {
        top:4.5rem;
    }
    .add_button .add_line {
        font-size: 1.4rem;
    }
}