

:root{
    --background:#0f172a;
    --blue-color:#2563eb;
    --blue-color-hover:#283d6d8e;
    --text-color:#f8fafc;
    --text-color-two:#818181;
    --back:#333;
    --hover:#74C0FC;
}
.add_button {
    z-index: 99999;
    position: fixed;
    top:6rem;
    left:1rem;
    cursor: pointer;
    background-color:white;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgb(0,0,0,0.2);
    transition: all 0.3s linear;
}


.add_button .add_line {
    font-size: 1.8rem;
    font-weight: 600;
    color:var(--back);
}

.add_button .menu {
    position: absolute;
    z-index: 9999;
    left:0rem;
    top:0rem;
    width: 10rem;
    height: 8rem;
    background-color:white;
    border-radius: 0.3rem;
    transition: all 0.3s linear;
    box-shadow: 1px 1px 2px rgb(0,0,0,0.2);
}



.add_button:hover .menu {
    display: block;
}


.add_button .menu .add_line {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: .5rem 1rem;
    margin-top: 1rem;
    transition: all 0.3s linear;
    text-decoration: none;
    
}


.add_button .menu .add_line span{
    font-size: 1.4rem;
    font-weight: 600;
   margin-right: 1rem;
   color:#333;
}

.add_button .menu .add_line .icon_path {
    color: #535353;
    font-size: 1.4rem;
 
}

.add_button .menu .add_car {
    display: flex;
    transition: all 0.3s linear;
    align-items: center;
    justify-content:flex-end;
    padding: .5rem 1rem;
    margin-top: 0.5rem;
    text-decoration: none;
}

.add_button .menu .add_car:hover {
    
}

.add_button .menu .add_car span {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 1rem;
    color: #333;
}

.add_button .menu .add_car .icon_car {
    font-size: 1.3rem;
    color: #535353;
    
}




@media (max-width:669px) {
    .add_button {
        top:5rem;
    }
}

@media (max-width:467px) {
    .add_button {
        width: 2.6rem;
        height: 2.6rem;
    }
    .add_button .menu {
       
        width: 8rem;
        height: 6rem;
        border-radius: 0.3rem;
        
    }
    
    
    
    .add_button .menu .add_line {
        margin-top: 0.5rem;
        padding: 0.4rem 1rem;
      
    }
 
    
    .add_button .menu .add_line span{
        font-size: 1.3rem;
        font-weight: 500;
    }
    
    .add_button .menu .add_line .icon_path {
    
        font-size: 1.4rem;
        
    }
    
    .add_button .menu .add_car {
    
        padding: .4rem 1rem;
   
    
    }
    
   
    
    .add_button .menu .add_car span {
        font-size: 1.2rem;
        font-weight: 500;
    
    }
    
    .add_button .menu .add_car .icon_car {
     
        font-size: 1.2rem;
    
    }
    
    
}





@media (max-width:360px) {
    .add_button {
        top:4.5rem;
    }
    .add_button .add_line {
        font-size: 1.4rem;
    }
}