
:root{
    --background:#0f172a;
    --blue-color:#2563eb;
    --blue-color-hover:#283d6d8e;
    --text-color:#f8fafc;
    --text-color-two:#818181;
    --back:#333;
}

.drop_menu {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    left: 0;
    height: 7rem;
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: white;
}



.drop_menu .down {
    text-align: center;
    margin-inline: auto;
    margin-top: 1rem;
    width: 30px;
    height: 4px;
    cursor: pointer;
    border-radius: 5px;
    background-color:var(--text-color-two) ;
}



@media (max-width:360px){
    .drop_menu {
        border-radius: 1.3rem 1.3rem 0 0;
    }
    .drop_menu .down {
        width: 20px;
    }
}