
:root{
    --background:#0f172a;
    --blue-color:#2563eb;
    --blue-color-hover:#283d6d8e;
    --text-color:#f8fafc;
    --text-color-two:#818181;
    --back:#504c4c;
    --white-color:white;
}



.zoom_in {
position: fixed;
background-color: white;
color: var(--back);
 top: 1rem;
 left: calc(100% - 4.2rem);
 font-size: 1.2rem;
 border-radius: 50%;
 width: 3.2rem;
 height: 3.2rem;
 padding: 0.7rem;
 cursor: pointer;
 transition: all .3s linear;
}
.zoom_out {
    position: fixed;
    background-color: white;
    color: var(--back);
     top: 5.2rem;
     left: calc(100% - 4.2rem);
     font-size: 1.2rem;
     border-radius: 50%;
     width: 3.2rem;
     height: 3.2rem;
     padding: 0.7rem;
     cursor: pointer;
     transition: all .3s linear;
}
.zoom_in:hover {
 color: var(--blue-color);
}
.zoom_out:hover {
color: var(--blue-color);
}





/* note styleing */





@media (max-width:999px) {

    .zoom_in {
        display: none;
    }
    .zoom_out
    {
        display: none;
    }


}

@media (max-width:360px) {

 
       .layer_map {
        top:7rem;
       }
}