:root{
    --background:#0f172a;
    --blue-color:#2563eb;
    --blue-color-hover:#283d6d8e;
    --text-color:#f8fafc;
    --text-color-two:#818181;
    --back:#222121;
    --white-color:white;
}

.search_bar {
    position: fixed;
    top:1.6rem;
    left:2rem;
    cursor: pointer;
    background-color:var(--white-color) ;
    z-index:99999;
    height: 2.7rem;
    width:2.7rem ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px var(--back);
}

.search_bar input {
    width: 0;
    border: none;
    outline: none;
    height: 100%;

}

.search_bar input::placeholder {
    padding-left: 0.3rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.search_bar .search_icon {
    color:var(--back);
    font-size: 1.6rem;
}




@media (max-width:360px) {
    .search_bar {

        left:1rem;
        height: 2.4rem;
        width:2.4rem ;
    
    }
    .search_bar .search_icon {
        color:var(--back);
        font-size: 1.4rem;
    }
}